# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Dependencies
/node_modules

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.history/

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Logs
npm-debug.log
yarn-error.log
testem.log

# Testing
/coverage
/.nyc_output

# System Files
.DS_Store
Thumbs.db

# Angular CLI
.angular/
